.section-title {
  box-sizing: border-box;
  padding-bottom: 23px;

  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.88px;

  border-bottom: 1px solid #dadada;
}
